body,html {
    margin: 0;
    padding: 10px;
    background-color: #011F3F;
    height: 100vh;
}
p, h1, h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin: 0;
    line-height: 1.5;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}

.score {
    margin-top: 4%;
    font-size: 0.85rem;
}

.header {
    margin: auto;
    text-align: center;
    font-size: 1rem;
}

.header > h1 {
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
}

.sub-header {
    margin: auto;
}

.sub-header > h2{
    font-size: 1rem;
}

.description{
    font-size: 0.65rem;
    margin-top: 1rem;
}


.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__circle {
    position: relative;
    height: 260px;
    width: 260px;
    background-color: #161616;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    box-shadow: 8px 8px 15px 5px #3d3c3c;
}

.btn, .btn-start {
    height: 130px;
    width: 130px;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
.green {
    position: absolute;
    background-color: #106f12;
    border-radius: 130px 0 0 0;
}
.red {
    position: absolute;
    background-color: #6f1010;
    border-radius: 0 130px 0 0;
    right: 0;
}
.yellow {
    position: absolute;
    background-color: #c8a41d;
    border-radius: 0 0 0 130px;
    bottom: 0;
}
.blue {
    position: absolute;
    background-color: #17329c;
    border-radius: 0 0 130px 0;
    right: 0;
    bottom: 0;
}
.container__inner-circle {
    position: absolute;
    background-color: #161616;
    border-radius: 50%;
    border-width: 10px;
    top: 25%;
    left: 25%;
}
.container__inner-circle-text {
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    top: 42%;
    left: 10%;
    font-size: 1.125rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p{
    text-align: center;
    font-size: 0.65rem !important;
}

.footer > p > a{
    text-decoration: none;
    color: #b63b3b;
}

.footer > p > a:hover{
    color: #ef9090;
}

/* BUTTON FLASHES */

.green-flash {
    background-color: #90ef92;
}
.red-flash {
    background-color: #ef9090;
}

.yellow-flash {
    background-color: #efdb90;
}
.blue-flash {
    background-color: #90a3ef;
}

/* GRID LAYOUT */

.container {
    display: grid;
    gap: 1.5rem;
    width: 100%;
    height: 100vh;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "head head"
      "main main"
      "subhead subhead"
      "foot foot";
}

.header {
    grid-area: head;
}

.sub-header {
    grid-area: subhead;
}

.row {
    grid-area: main;
}

.footer {
    grid-area: foot;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
    .container {
        grid-template-areas:
          "head subhead"
          "main subhead"
          "foot foot";
    }
    .header > h1, .sub-header > h2 {
        font-size: 1.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .container__circle {
        height: 400px;
        width: 400px;
        border-width: 10px !important;
    }
    .btn, .btn-start {
        height: 200px;
        width: 200px;
        border-width: 10px !important;
    }
    .green {
        border-radius: 200px 0 0 0;
    }
    .red {
        border-radius: 0 200px 0 0;
    }
    .yellow {
        border-radius: 0 0 0 200px;
    }
    .blue {
        border-radius: 0 0 200px 0;
    }
    .container__inner-circle {
        border-width: 20px !important;
    }
    .container__inner-circle-text {
        top: 37%;
        left: 7%;
        font-size: 1.75rem;
    }
    .footer {
        margin-top: 0;
        padding-bottom: 15px;
    }
}